@import "@styles/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  min-height: 500px;

  .title {
    color: $secondary;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
  }
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 8px;
    margin-bottom: 20px;
    @media (max-width: 985px) {
      flex-direction: column;
      align-items: center;
      p {
        margin-top: 0;
      }
    }
    h3 {
      font-size: 1.5rem;
    }
    .about__text {
      max-width: 700px;
      font-family: "Inter", sans-serif;
      font-weight: 300;
      line-height: 1.6;
    }
  }
  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media (max-width: 930px) {
      // margin-top: 40px;
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 300px;
      text-align: center;
      background: $background--light;
      border-radius: 8px;
      @media (max-width: 985px) {
        margin-bottom: 20px;
      }
      .list {
        font-family: "Inter", sans-serif;
        font-weight: 300;
      }
    }
    @media (max-width: 985px) {
      flex-direction: column;
      align-items: center;
    }
    h3 {
      font-size: 1.5rem;
      margin: 10px auto;
      margin-top: 20px;
    }
    p {
      margin: 5px auto;
      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
  p {
    font-size: 1.3rem;
  }
}
